.container
  :css
    .row { text-align: center; } 
  .row
    .col
      %h2="Name:"
    .col
      %h3=@minesweeper_board.name
  .row
    .col
      %h2="Email:"
    .col
      %h3=@minesweeper_board.email
  - board_matrix = @minesweeper_board.as_matrix
  = react_component "MinesweeperBoard", { minesweeper_data: @minesweeper_board, minesweeper_board: board_matrix }
